{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_cloudsync/firstaccessvm

    Admin search input for page header.

    Example context (json):
    {


    }
}}

<div class="row ml-3 mr-3">
    <h3 class="text-danger mb-5">{{#str}} firstaccessattention, local_cloudsync {{/str}}</h1>
    <h5 class="mb-6">{{#str}} firstaccessmessage, local_cloudsync {{/str}}</h3>

</div>
<div class="row d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        {{#str}} showkeybutton, local_cloudsync {{/str}}
    </button>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body justify-content-center">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-auto">
              <p>{{{ssh_key}}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>