{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_cloudsync/userkeypairs

    Admin search input for page header.

    Example context (json):
    {


    }
}}

<div>
    <div class="justify-content-center mt-5">
    {{#keypairs}}
        <li class="list-group-item d-flex justify-content-between align-items-center border-primary text-center">
            <span><b>{{#str}} usersshkeysname, local_cloudsync {{/str}}</b><br>{{name}}</span>
            <span><b>{{#str}} usersshkeysvms, local_cloudsync {{/str}}</b><br><br>
            {{#vms}}
                <a href="{{vm_url}}?id={{vm_id}}">{{vm_name}}</a><br>
            {{/vms}}
            </span>
        </li>
    {{/keypairs}}
    </div>
</div>